<h2>All Cars</h2>

<table width = 500>
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
  </tr>
  <% @cars.each do |car| %>
      <tr>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.year %></td>
      </tr>
  <% end %>
</table>

