<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/my_index">CarRental</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <% unless current_user.nil? %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/new_car">Add new car</a></li>
            <li><a href="/cars_index">All cars</a></li>
            <li><a href="/roles">User Roles</a></li>
            <li><a href="/rentals_index">All Rentals</a></li>
            <li><a href="/new_rental">New Rental</a></li>

          </ul>
    <% end %>
    <ul class="nav navbar-nav navbar-right">
      <div style="float: right; padding-top: 10px;font-size: larger; color: slategray;">
        <% if current_user %>
            <form action="/logout" method="POST">
              <input type="submit" class="btn btn-danger" value="logout">
            </form>
        <%end%>
      </div>
    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="header">
    <div class="logo">
      <h1>
        <a href="/"></a>
      </h1>
    </div>
  </div>
  <div class="content">
    <%= yield %>
  </div>
  <div class="footer">
    <p class="legal">&mdash; &copy; <%= Time.now.strftime("%Y") %>  &mdash;</p>
  </div>
</div>
</body>
</html>

