<form action="/new_car" method="POST">
  <section id="regform" class="outer-wrapper">
    <div class="inner-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <h2 class="text-center">Add a new Car</h2>
            <form role="form">
              <div class="form-group">
                <label for="make">Car Make</label>
                <input type="text" class="form-control" name="make" placeholder="Enter car make">
              </div>

              <div class="form-group">
                <label for="model">Model</label>
                <input type="text" class="form-control" name="model" placeholder="Enter model">
              </div>

              <div class="form-group">
                <label for="year">Year</label>
                <input type="text" class="form-control" name="year" placeholder="Enter year">
              </div>

              <button type="submit" class="btn btn-success">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>

