<form action="/new_rental" method="POST">
  <section id="regform" class="outer-wrapper">
    <div class="inner-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <h2 class="text-center">Create a new rental</h2>
            <form role="form">

              <div class="form-group">
                <label for="name">Customer</label>
                <select class="form-control" name="[rental]customer_id">
                  <% @customers.each do |customer| %>
                    <option value="<%= customer.id %>"><%= customer.name %></option><br>
                  <% end %>
                </select>
              </div>

              <div class="form-group">
                <label for="name">Select Car</label>
                <select class="form-control" name="[rental]car_id">
                  <% @cars.each do |car| %>
                      <option value="<%= car.id %>"><%= car.model %></option><br>
                  <% end %>
                </select>
              </div>

              <!--<div class="form-group">-->
                <!--<input type="hidden" class="form-control" name="clerk_id" placeholder="Start date">-->
              <!--</div>-->
              Rental start time: <input type="date" name="start_date"><input type="time" name="start_time"><br>
              Rental end time: <input type="date" name="end_date"><input type="time" name="end_time"><br>

              <!--<div class="form-group">-->
                <!--<label for="phone">Rental Start time</label>-->
                <!--<input type="date" class="form-control" name="pick_up_time" placeholder="Start date">-->
              <!--</div>-->

              <!--<div class="form-group">-->
                <!--<label for="phone">Expected Drop off time</label>-->
                <!--<input type="date" class="form-control" name="pick_up_time" placeholder="Expected drop off">-->
              <!--</div>-->

              <button type="submit" class="btn btn-success">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>