<% unless @rentals.empty? %>
  <% @rentals.each do |rental| %>
      <%= rental.customer %>
      <%= rental.clerk %>
      <%= rental.pick_up_time %>
      <%= rental.expected_dropoff %>
  <% end %>
<% else %>
<h2>Sorry buster, no rentals here :(</h2>
<% end %>