<div class="jumbotron">
	<% @roles.each do |role| %>
			<h3><a href="/roles/<%= role.id %>/edit"><%= role.name %></a> (<%= role.users.count %> total)<br></h3>
	<% end %>
	<br>
	<br>
	<a href="/users">See the users</a>
</div>
