<div class="jumbotron">
  <form action="/roles/<%= @role.id %>" method="post">
    <% @users.each do |user| %>
      <input type="checkbox" name="[role]user_ids[]" value="<%= user.id %>"
        <%= "checked" if user.is_a(@role.name) %>>
      <%= user.name %><br>
    <% end %>
    <br>
    <input type="hidden" name="[role]user_ids[]" value="-1">
    <input type="submit" class="btn btn-success" value="Save <%= @role.name %>">
  </form>
</div>
