
<div class = "jumbotron">
  <form action="/submission" method="POST">
    <section id="regform" class="outer-wrapper">
      <div class="inner-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <h2 class="text-center">Welcome User.</h2>
              <form role="form">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="name" class="form-control" name="[user]name" placeholder="Enter username">
                </div>
                <div class="form-group">
                  <label for="phone">Phone Number</label>
                  <input type="number" class="form-control" name="[user]phone" placeholder="Enter phone number">
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <input type="address" class="form-control" name="[user]address" placeholder="Enter address">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="[user]password" placeholder="Enter password">
                </div>
                <div class="form-group">
                  <label for="password2">Password</label>
                  <input type="password" class="form-control" name="[user]password_confirmation" placeholder="Enter password again">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
                or <a href="/login">
                <input class="btn btn-primary" type="button" value="Already have an account" />
              </a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>