
<div class = "jumbotron">
  <form action="login" method="POST">
    <section id="loginform" class="outer-wrapper">
      <div class="inner-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <form data-toggle="validator" role="form">
                <h2 class="text-center">Welcome Back.</h2>
                <form role="form">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" name="[user]name" placeholder="Enter username" data-error="Bruh, that username is invalid" required>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                  </div>
                  <button type="submit" class="btn btn-success">Submit</button>
                  or <a href="/register">
                  <input class="btn btn-primary" type="button" value="Dont have an account" />
                </a>
                </form>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
